  * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        height: 100vh;
        background-color: #121826;
        background-image: url(resources/Background_image@3x.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        backdrop-filter: blur(1px);
        text-align: center;
        justify-content: center;
        margin: auto;
        font-family: 'Poppins', sans-serif;
      }

      .author-info {
        font-size: 14px;
        text-align: center;
        margin-top: 16px;
        color: rgb(55, 65, 81);
      }

      .author-info a {
        text-decoration: none;
      }
      .header h1{
        padding: 10px;
        justify-content: center;
        text-align: center;
        color: white;
        font-weight: bold;
        max-width: 400px;
        justify-self: center;
      }

      .header p{
        padding: 10px;
        text-align: center;
        color: white;
        place-self: center;
      }

      .cards{
      display: flex;
      justify-content:space-evenly;
      gap: 50px;
      padding: 30px 20px;
      flex-wrap: wrap;
      }

      .card-container{
        width: 350px;
        margin: 0 auto;
          background-color: #212936;
        border-radius: 10px;
        padding: 30px 30px;
        align-items: stretch;
        justify-content: start;
        box-sizing: border-box;
      }

      .icon{
        width: 30px;
        height: 30px;
        background-color: antiquewhite;
        border-radius: 50px;
        padding: 2px;
        align-self: start;
        justify-content: center;
      }

      .content h3{
        padding:10px 0;
        justify-content: start;
        text-align: start;
        color: white;
        font-weight: bold;
        max-width: 300px;
      }

      .content p{
        padding: 10px 2px;
        justify-content: center;
        text-align: start;
        color: white;
        max-width: 250px;
        font-size: 14px;
      }

       .img img{
        width: 250px;
        height: 200px;
        object-fit: cover;
        overflow: hidden;
        display: grid;
        align-content: start;
        /* margin: 20px; */
        border-radius: 20px;
        padding: 10px 0;
        }